In [23]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('FIFA18.csv')

In [3]:
df.head()

,Date,Team,Opponent,Goal Scored,Ball Possession %,Attempts,On-Target,Off-Target,Blocked,Corners,...,Yellow,Yellow & Red,Red,Man of the Match,1st Goal,Round,PSO,Goals in PSO,Own goals,Own goal Time
0,14-06-18,Russia,Saudi Arabia,5,40,13,7,3,3,6,...,0,0,0,Yes,12.0,Group Stage,No,0,NaN,NaN
1,14-06-18,Saudi Arabia,Russia,0,60,6,0,3,3,2,...,0,0,0,No,NaN,Group Stage,No,0,NaN,NaN
2,15-06-18,Egypt,Uruguay,0,43,8,3,3,2,0,...,2,0,0,No,NaN,Group Stage,No,0,NaN,NaN
3,15-06-18,Uruguay,Egypt,1,57,14,4,6,4,5,...,0,0,0,Yes,89.0,Group Stage,No,0,NaN,NaN
4,15-06-18,Morocco,Iran,0,64,13,3,6,4,5,...,1,0,0,No,NaN,Group Stage,No,0,1.0,90.0

In [4]:
df = df.fillna(value = 0)

In [5]:
df.head()

,Date,Team,Opponent,Goal Scored,Ball Possession %,Attempts,On-Target,Off-Target,Blocked,Corners,...,Yellow,Yellow & Red,Red,Man of the Match,1st Goal,Round,PSO,Goals in PSO,Own goals,Own goal Time
0,14-06-18,Russia,Saudi Arabia,5,40,13,7,3,3,6,...,0,0,0,Yes,12.0,Group Stage,No,0,0.0,0.0
1,14-06-18,Saudi Arabia,Russia,0,60,6,0,3,3,2,...,0,0,0,No,0.0,Group Stage,No,0,0.0,0.0
2,15-06-18,Egypt,Uruguay,0,43,8,3,3,2,0,...,2,0,0,No,0.0,Group Stage,No,0,0.0,0.0
3,15-06-18,Uruguay,Egypt,1,57,14,4,6,4,5,...,0,0,0,Yes,89.0,Group Stage,No,0,0.0,0.0
4,15-06-18,Morocco,Iran,0,64,13,3,6,4,5,...,1,0,0,No,0.0,Group Stage,No,0,1.0,90.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 27 columns):
Date                      128 non-null object
Team                      128 non-null object
Opponent                  128 non-null object
Goal Scored               128 non-null int64
Ball Possession %         128 non-null int64
Attempts                  128 non-null int64
On-Target                 128 non-null int64
Off-Target                128 non-null int64
Blocked                   128 non-null int64
Corners                   128 non-null int64
Offsides                  128 non-null int64
Free Kicks                128 non-null int64
Saves                     128 non-null int64
Pass Accuracy %           128 non-null int64
Passes                    128 non-null int64
Distance Covered (Kms)    128 non-null int64
Fouls                     128 non-null int64
Yellow                    128 non-null int64
Yellow & Red              128 non-null int64
Red                       128 non-null int64
Man of the Match          128 non-null object
1st Goal                  128 non-null float64
Round                     128 non-null object
PSO                       128 non-null object
Goals in PSO              128 non-null int64
Own goals                 128 non-null float64
Own goal Time             128 non-null float64
dtypes: float64(3), int64(18), object(6)
memory usage: 27.1+ KB

In [7]:
df = df.drop(['Date','Team','Opponent'], axis = 1)

In [21]:
df.head()

,Goal Scored,Ball Possession %,Attempts,On-Target,Off-Target,Blocked,Corners,Offsides,Free Kicks,Saves,...,Yellow,Yellow & Red,Red,Man of the Match,1st Goal,Round,PSO,Goals in PSO,Own goals,Own goal Time
0,5,40,13,7,3,3,6,3,11,0,...,0,0,0,Yes,12.0,Group Stage,No,0,0.0,0.0
1,0,60,6,0,3,3,2,1,25,2,...,0,0,0,No,0.0,Group Stage,No,0,0.0,0.0
2,0,43,8,3,3,2,0,1,7,3,...,2,0,0,No,0.0,Group Stage,No,0,0.0,0.0
3,1,57,14,4,6,4,5,1,13,3,...,0,0,0,Yes,89.0,Group Stage,No,0,0.0,0.0
4,0,64,13,3,6,4,5,0,14,2,...,1,0,0,No,0.0,Group Stage,No,0,1.0,90.0

In [22]:
df.columns

Index(['Goal Scored', 'Ball Possession %', 'Attempts', 'On-Target',
       'Off-Target', 'Blocked', 'Corners', 'Offsides', 'Free Kicks', 'Saves',
       'Pass Accuracy %', 'Passes', 'Distance Covered (Kms)', 'Fouls',
       'Yellow ', 'Yellow & Red', 'Red', 'Man of the Match', '1st Goal',
       'Round', 'PSO', 'Goals in PSO', 'Own goals', 'Own goal Time'],
      dtype='object')

In [9]:
X = df.iloc[:, :17].values
y = df.iloc[:, 17].values

In [10]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [11]:
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.1, random_state = 100)

In [12]:
from sklearn.preprocessing import StandardScaler

In [13]:
sc = StandardScaler()

In [14]:
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

C:\Users\This Pc\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
C:\Users\This Pc\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
C:\Users\This Pc\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [15]:
# logistic regression
# -------------------

from sklearn.linear_model import LogisticRegression

In [16]:
lr = LogisticRegression()

In [17]:
lr.fit(x_train, y_train)

C:\Users\This Pc\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [18]:
y_pred = lr.predict(x_test)

In [20]:
print('accuracy: ', accuracy_score(y_test, y_pred)*100, '%\n\n')

print(confusion_matrix(y_test, y_pred))

print(classification_report(y_test, y_pred))

accuracy:  84.61538461538461 %


[[6 0]
 [2 5]]
              precision    recall  f1-score   support

          No       0.75      1.00      0.86         6
         Yes       1.00      0.71      0.83         7

   micro avg       0.85      0.85      0.85        13
   macro avg       0.88      0.86      0.85        13
weighted avg       0.88      0.85      0.84        13

In [26]:
new_pred = lr.predict(sc.transform(np.array([[0, 60, 6, 0, 3, 3, 2, 1, 25, 2, 86, 511, 105, 10, 0, 0, 0]])))

C:\Users\This Pc\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int32 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [27]:
new_pred

array(['No'], dtype=object)

In [34]:
comparison = pd.DataFrame({
    'actual result (man of the match)'   : y_test,
    'machine predict (man of the match)' : y_pred
})

In [35]:
comparison

   actual result (man of the match) machine predict (man of the match)
0                               Yes                                 No
1                               Yes                                Yes
2                                No                                 No
3                               Yes                                 No
4                                No                                 No
5                                No                                 No
6                               Yes                                Yes
7                               Yes                                Yes
8                                No                                 No
9                               Yes                                Yes
10                               No                                 No
11                               No                                 No
12                              Yes                                Yes